/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
 @import 'https://www.nerdfonts.com/assets/css/webfont.css';

 i {
   color: rgba(209, 183, 135, 0.95);
   margin-right: 5px;
 }
 
 body {
   color: rgb(240, 227, 188);
   font-weight: bold;
   font-family: Maple Mono SC NF,JetBrainsMono Nerd Font, monospace;
 }
 
 html,
 body,
 #root {
   height: 100%;
 }
 
 #root {
      height: 100%;
      overflow-y: hidden;

   /* border-radius: 18px; */
   /* border-bottom: 1px solid rgb(255 255 255 / 5%); */
   /* background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%)); */
   background: rgba(0, 0, 0, 0);;
 }
 
 .app {
   display: flex;
   align-items: center;
   justify-content: space-between; /* 使left和right元素分布在两端 */
   /* display: grid;
   grid-template-columns: 1fr 0.5fr 1fr; */
   /* height: 100%; */
   font-family: Maple Mono SC NF,JetBrainsMono Nerd Font, monospace;
   font-weight: bold;
   /* padding: 5px 8px; */
   /* padding-bottom: 12px;
   padding-top: -15px; */
   /* padding-bottom: 15px; */
   margin-top: 8px; 
   padding-left: 1px;
   padding-right: 1px;
   /* background: #4c4947; */
   background: rgba(0, 0, 0, 0);
   /* border: 3px outset #2b2b2b; */
   /* border-radius: 8px; */
   font-size: 16px;

 }
 
 /* .left,
 .center,
 .right {
   display: flex;
   align-items: center;
 } */
 
 .left {
   display: flex;
   align-items: center;
   text-align: center; /* 文本居中，如果需要的话 */

 }
 
 .center {
   display: flex;
   align-items: center;
   position: absolute; /* 绝对定位 */
   left: 50%; /* 水平居中 */
   transform: translateX(-50%); /* 调整位置 */
   text-align: center; /* 文本居中，如果需要的话 */
   max-width: 400px;
 }
 
 .right {
   display: flex;
   align-items: center;
   justify-self: end;
   flex-shrink: 0; /* 防止right元素缩小 */
 }
 
 .logo,
 .binding-mode,
 .network,
 .tiling-direction {
   font-weight: bold;
   margin-right: 5px; 
 }
 
 .ssid {
   display: flex;
   align-items: center;
 }
 
 .battery {
  box-shadow: rgba(0, 0, 0, 0.4) 0 -6px 3px 1px;
  margin-right: 3px;
  margin-left: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  min-width: 60px;
  color: #aed3ae;
  background: #495026 ;
  border-bottom: 7px solid #2e3315;
  border-radius: 10px;
 }
 
 .date {
  box-shadow: rgba(0, 0, 0, 0.4) 0 -6px 3px 1px;
  margin-right: 3px;
  margin-left: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  min-width: 60px;
  background: rgb(179, 42, 142);
  border-bottom: 7px solid rgb(155, 32, 122);
  border-radius: 10px;
 }
 .memory {
  box-shadow: rgba(0, 0, 0, 0.4) 0 -6px 3px 1px;
  margin-right: 3px;
  margin-left: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  min-width: 60px;
  border-bottom: 7px solid #9172b6;
  background-color: #cba6f7;
  color: 	#55406e;
 }
 .cpu {
   /* display: flex;
   align-items: center; */
   box-shadow: rgba(0, 0, 0, 0.4) 0 -6px 3px 1px;
   margin-right: 3px;
   margin-left: 1px;
   padding-top: 3px;
   padding-bottom: 3px;
   font-weight: bolder;
   border: none;
   border-radius: 10px;
   min-width: 70px;
   background: rgb(39, 154, 207);
   color: 	#edebe6;
   border-bottom: 7px solid rgb(58, 125, 156);
 }
 
 .title {
   color: rgb(240, 227, 188);
   font-family: Maple Mono SC NF,国家宝藏楷书加粗,monospace;
   font-weight: normal;
   /* max-width: 400px; */
   align-items: center;
   text-align: center;  
   white-space: nowrap;       /* 确保文本不换行 */
   overflow: hidden;          /* 超出部分隐藏 */
   text-overflow: ellipsis;   /* 显示省略号 */
 }
 
 .clash-open
 {
  box-shadow: rgba(0, 0, 0, 0.4) 0 -6px 3px 1px;
  margin-right: 3px;
  margin-left: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  background-color: #d7ded6 ;
  border-bottom: 7px solid #8a9488;
  min-width: 30px;
 }
 
 
 .quick-setting
 {
   margin-right: 5px;
   color: rgb(55, 42, 2);
   background-color: #e19278;
   border-radius: 5px;
   background: #c5bbc2;
   border-color: #d8ced5;  cursor: pointer;
 }
 
 .notify-panel
 {
   margin-right: 5px;
   color: rgb(55, 42, 2);
   background: #bbc5c5;
   border-color: #c7d1d1;  cursor: pointer;
   border-radius: 5px;
 }
 
 
 .speedmode {
   /* min-width: 180px; */
 }
 
 .downspeed,
 .upspeed {
   align-items: center;
   text-align: center;  
 }
 .downspeed {
   margin-right: 3px;
 }
 
 .netspeed {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.4) 0 -6px 3px 1px;
  margin-right: 3px;
  margin-left: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  color: rgb(55, 42, 2);
  background-color: #afe3af ;
  border-bottom: 7px solid #94c994;
  min-width: 30px;
 }
 
 .workspaces {
   display: flex;
   align-items: center;
   background-color: transparent;
   margin-right: 8px;
   margin-left: 10px;
 }
 
 .workspace {
  box-shadow: rgba(0, 0, 0, 0.4) 0 -3px 5px 5px;
  /* box-shadow: black 0 0 10px; */
  background-color: #fff ;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-right: 8px;
  padding-right: 8px;
  padding-left: 8px;
  background-size: 300% 300%;
  font-weight: bolder;
  color: 	#a382cc ;
  border: none;
  border-bottom: 6px solid #d6cdcd;
  border-radius: 10px;
 
   &.displayed {
     background: rgba(231, 117, 117, 0.968);
   }
 
   /* --border-transition: 0.2s ease;
   transition: padding-right 0.2s ease, padding-left 0.2s ease, height 0.2s ease, background 0.2s ease, border-color var(--border-transition); */
 
   &.focused {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -3 5 5px;
    background-color: rgb(189, 146, 216);
    padding-bottom: 3px;
    padding-top: 3px;
    margin-right: 8px;
    padding-right: 15px;
    padding-left: 15px;
    background-size: 300% 300%;
    font-weight: bolder;
    color: 	#ffffff ;
    border: none;
    border-bottom: 6px solid rgb(143, 102, 168);
    border-radius: 10px;
   }
 
   &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -3 5 5px;
    background-color: rgb(202,158,230);
    padding-bottom: 1px;
    padding-top: 1px;
    margin-right: 8px;
    padding-right: 15px;
    padding-left: 15px;
    background-size: 300% 300%;
    font-weight: bolder;
    color: 	#fff ;
    border: none;
    border-bottom: 6px solid rgb(143, 102, 168);
    border-radius: 15px;
   }
 }
 
 .binding-mode,
 .tiling-direction {
  box-shadow: rgba(0, 0, 0, 0.4) 0 -6px 3px 1px;
  margin-right: 3px;
  margin-left: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  background-color: #e6a7b7 ;
  color:#50393f;
  border-bottom: 7px solid #cd909f;
  min-width: 30px;
 }
 
 .binding-mode {
   margin-right: 4px;
 }
 
 .cpu .high-usage {
   color: #da1950;
 }
 
 .battery .charging-icon {
   position: absolute;
   left: 7px;
   top: 2px;
 }
 
